body{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    color: yellow;
    background-image: url(../images/BG.jpg);
}
@import url('https://fonts.googleapis.com/css?family=Oswald');
h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    
}

p {
    text-align: center;
    opacity: 100%;
}
a{
    text-decoration: none;
    color: blue;
    opacity: 100%;
}

.gallery{
    margin: 10px 50px;
}
.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
.box {
    background-color: rgba(128, 128, 128, 0.8);
    width: max-content;
    margin: auto;
    border-radius: 11px;
}


